###########
# General #
###########

TAGS
*.cm*
*.o
*.a
*.annot
*~
\#*
.\#*
.DS_Store
*.tmp
/.git_version
*transf
*.bnf

#build
_build/*

#tests
/tests/*/oracle/dune
/tests/*/result/
/tests/*/result_*/

#benchmarks
/benchmarks/*/result/
/benchmarks/*/result_*/
/benchmarks/*/oracle/dune

#doc
/doc/*/*.dot
/doc/*/*.aux
/doc/*/*.bbl
/doc/*/*.blg
/doc/*/*.cb*
/doc/*/*.ilg
/doc/*/*.ind
/doc/*/*.toc
/doc/*/*.lof
/doc/*/*.log
/doc/*/*.out
/doc/*/*.idx
/doc/Grammar/grammar.fdb_latexmk
/doc/Grammar/grammar.fls
/doc/Grammar/grammar.synctex.gz

##############
# particular #
##############

/.merlin
/.frama-c/
/rpp-manual.pdf
/headers/headache_config.txt
/release.zip
