###########
# General #
###########

TAGS
*.cm*
*.o
*.a
*.annot
*~
*_DEP
*.depend
\#*
.\#*
.DS_Store
*.tmp
/.git_version
frama_c_journal.ml
*transf
*.bnf
#build
.Makefile.plugin.generated
configure
autom4te.cache
/.depend
/config.log
/config.status
/frama-c-*.tar.gz
/.log.autoconf
/.Makefile.user
/ocamlgraph/
META.*
/gui/
top/*
_build/*

#tests
/tests/ptests_config
/tests/*/result/
/tests/*/result_*/
/tests/journal/intra.byte
/tests/*/*.opt
/tests/pdg/*.dot

#benchmarks
/benchmarks/ptests_config
/benchmarks/*/result/
/benchmarks/*/result_*/
/benchmarks/journal/intra.byte
/benchmarks/*/*.opt
/benchmarks/pdg/*.dot


#share
/share/Makefile.config
/share/Makefile.dynamic_config
/share/Makefile.kernel
/share/frama-c.rc
*.s
frama-c-*.tar.gz
.log.autoconf
.Makefile.parallel
*.tmp
*.output
*.check_mli_exists

#########
# share #
#########

share/Makefile.config
share/Makefile.dynamic_config
share/Makefile.kernel
share/frama-c.rc
#created by create_share_link target
/share/.gitignore
/share/manuals/

#doc
/doc/manuals/
/doc/*/*.dot
/doc/*/*.aux
/doc/*/*.bbl
/doc/*/*.blg
/doc/*/*.cb*
/doc/*/*.ilg
/doc/*/*.ind
/doc/*/*.toc
/doc/*/*.lof
/doc/*/*.log
/doc/*/*.out
/doc/*/*.idx
/doc/code/print_api/*.html
/doc/code/print_api/*.dot

#lib
/lib/fc/
/lib/plugins/*.mli
/lib/plugins/*.ml
/lib/plugins/gui/
/lib/plugins/META.frama-c-*
/lib/plugins/.placeholders_ready

#plugins
/share/e-acsl/
/share/c2fc/
/src/*/configure
/src/*/.depend
/src/*/autom4te.cache/
/src/*/doc/*/*.dot
/src/*/doc/*/*.aux
/src/*/doc/*/*.bbl
/src/*/doc/*/*.blg
/src/*/doc/*/*.cb*
/src/*/doc/*/*.ilg
/src/*/doc/*/*.ind
/src/*/doc/*/*.toc
/src/*/doc/*/*.lof
/src/*/doc/*/*.log
/src/*/doc/*/*.out
/src/*/doc/*/*.idx

######################
# generated ML files #
######################

/src/libraries/stdlib/FCDynlink.ml
/src/libraries/stdlib/integer.ml
/src/kernel_internals/runtime/toplevel_boot.ml
/src/kernel_internals/runtime/config.ml
/src/kernel_internals/runtime/frama_c_config.ml
/src/kernel_internals/parsing/logic_lexer.ml
/src/kernel_internals/parsing/logic_parser.ml
/src/kernel_internals/parsing/logic_parser.mli
/src/kernel_internals/parsing/logic_preprocess.ml
/src/kernel_internals/parsing/clexer.ml
/src/kernel_internals/parsing/cparser.ml
/src/kernel_internals/parsing/cparser.mli

##############
# particular #
##############

/.merlin
/.frama-c/
frama_c_journal.ml
doc/manuals
/doc/manuals

/bin/machdep.exe
/src/plugins/aorai/tests/test_config
/src/plugins/wp/doc/manual/swap1.log-file
/src/plugins/wp/doc/manual/swap2.log-file
/src/plugins/wp/doc/manual/swap3.log-file
/src/plugins/wp/doc/manual/wp.aux
/src/plugins/wp/doc/manual/wp.bbl
/src/plugins/wp/doc/manual/wp.blg
/src/plugins/wp/doc/manual/wp.cb
/src/plugins/wp/doc/manual/wp.cb2
/src/plugins/wp/doc/manual/wp.toc

src/libraries/stdlib/fc_dynlink.ml
src/libraries/stdlib/FCDynlink.ml
src/libraries/stdlib/integer.ml
Makefile.plugin.generated
/doc/userman/userman.fls
/doc/userman/userman.fdb_latexmk
/doc/speclang/acsl.fls
/doc/speclang/acsl.fdb_latexmk
/doc/speclang/acsl-implementation.fls
/doc/speclang/acsl-implementation.fdb_latexmk
/doc/code/print_api/lexer.ml
/doc/code/print_api/grammar.mli
/doc/code/print_api/grammar.ml
/doc/code/print_api/dynamic_plugins.mli
/doc/code/print_api/_build/

/doc/Grammar/grammar.fdb_latexmk
/doc/Grammar/grammar.fls
/doc/Grammar/grammar.synctex.gz
